:root {
  --IncHeight: 25vh;
}

.PhoneMain,
.HeaderBar,
.PopOver,
.popOverOptions,
.BottomNavBar,
.MainBody,
.TickerInfo,
.TickerTop,
.TickerBottom,
.TickerBottomBadge,
.HiddentParts,
.TickerChart,
.ChartData,
.TopData,
.Lower,
.Higher,
.BottomData,
.TickerTimeFrame,
.TickerOptions,
.PC_Main {
  display: flex;
  align-items: center;
  justify-content: center;
}

.PhoneMain {
  height: 100vh;
  width: 100vw;
  justify-content: flex-start;
  flex-direction: column;
  background: white;
  color: black;
  position: relative;
  overflow: hidden;
}

.HeaderBar {
  width: 100vw;
  height: 10vh;
  justify-content: space-between;
  background: rgb(255, 255, 255);
  position: absolute;
  top: 0;
  padding-left: 5vw;
  padding-right: 5vw;
  box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.075);
}

.HeaderBar img {
  width: 7vw;
}

.HeaderBar .ThreeDot {
  rotate: 90deg;
}

.HeaderBar label {
  font-weight: 700;
  font-size: 1.5em;
  color: #4c5968;
}

.MainBody {
  width: 100vw;
  height: 100vh;
  min-height: 100vh;
  align-items: flex-start;
  flex-direction: column;
  padding-left: 5vw;
  padding-right: 5vw;
  gap: 10px 20px;
  background: #f3f5f9;
  overflow-y: scroll;
  padding-top: 10vh;
  padding-bottom: 10vh;
  padding-left: 8vw;
  padding-right: 8vw;
}

.MainBody .TickerInfo {
  padding-left: 25px;
  padding-right: 25px;
  flex-direction: column;
  width: 84%;
  height: var(--IncHeight);
  min-height: var(--IncHeight);
  background: white;
  gap: 10px 20px;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.075);
  position: absolute;
  z-index: 1;
  top: 12vh;
  left: 8vw;
  padding-bottom: 5px;
  overflow: hidden;
}

.TickerInfo .TickerTop {
  justify-content: space-between;
  height: 10vh;
  max-height: 10vh;
  position: absolute;
  top: 0;
  left: 6vw;
  width: 85%;
  padding-top: 5px;
}

.TickerTop div {
  height: 100%;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.TickerTop div img {
  width: 8vw;
}

.TickerTop div label {
  font-size: 0.8em;
  margin-left: 10px;
  color: #6d737a;
}

.TickerTop label {
  font-size: 0.8em;
  color: #aeb8c4;
}

.TickerInfo .TickerBottom {
  height: 10vh;
  max-height: 10vh;
  width: 100%;
  align-items: flex-start;
  flex-direction: column;
  position: absolute;
  top: 9vh;
  left: 6vw;
  width: 85%;
}

.TickerBottom label {
  font-size: 2em;
  font-weight: 700;
  color: #4c5968;
}

.TickerBottom .TickerBottomBadge {
  justify-content: space-between;
  height: 50%;
  width: 100%;
}

.TickerBottomBadge label {
  font-size: 1em;
  color: #aeb8c4;
}

.TickerBottomBadge div {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.7em;
  font-weight: 800;
  color: white;
  padding: 5px;
  padding-bottom: 6px;
  padding-left: 10px;
  padding-right: 10px;
  background: red;
  border-radius: 50px;
  transition: 0.5s ease;
}

.TickerInfo .collapseIMG {
  height: 5vh;
  width: 80%;
  background: none;
  border: none;
  outline: none !important;
  position: absolute;
  bottom: 10px;
}

.TickerInfo .collapseIMG img {
  rotate: -90deg;
  width: 8vw;
}

.TickerInfo .HiddentParts {
  /* display: none; */
  height: 10vh;
  width: 70vw;
  position: absolute;
  bottom: 0vh;
  justify-content: space-between;
  z-index: 2;
  /* background: pink; */
}

.HiddentParts button {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #1ec070;
  width: 10vh;
  height: 5vh;
  border-radius: 25px;
  color: white !important;
  transition: 50ms ease;
}

.HiddentParts button:last-child {
  background: #ee225d;
}

.MainBody .TickerTimeFrame {
  margin-top: 28vh;
  width: 100%;
  justify-content: space-between;
  height: 5vh;
  border-radius: 10px;
}

.TickerTimeFrame .timeFrame {
  background: none;
  border: none;
  color: gray;
  outline: none;
  font-size: 0.8em;
  border-radius: 25px;
  position: relative;
  z-index: 1;
}

/* .timeFrame:hover {
  background: #adb7c3;
  color: white;
} */

.timeFrameClicked {
  background: gray;
  color: rgb(255, 255, 255);
  border-radius: 50px;
}

.MainBody .TickerChart {
  width: 100%;
  height: 23vh;
  margin-bottom: 10px;
  background: rgb(255, 255, 255);
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.075);
  padding-top: 20px;
  position: relative;
  overflow: hidden;
}

.TickerChart .ChartData {
  position: absolute;
  z-index: 1;
  top: 0;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.ChartData .TopData {
  align-items: flex-start;
  justify-content: space-between;
  height: 50%;
  width: 100%;
  padding: 15px;
  padding-top: 20px;
}

.TopData .Lower div {
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: #ee225d;
}

.TopData .Lower label {
  margin-left: 5px;
  font-size: 0.7em;
  font-weight: 400;
  color: #9a9bb0;
}

.TopData .Higher div {
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: #1ec070;
}

.TopData .Higher label {
  margin-left: 5px;
  font-size: 0.7em;
  font-weight: 400;
  color: #9a9bb0;
}

.ChartData .BottomData {
  justify-content: flex-start;
  height: 50%;
  width: 100%;
  padding-left: 15px;
}

.BottomData div {
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: orange;
}

.BottomData label {
  font-weight: 600;
  margin-left: 5px;
  color: #4c5968;
}

.MainBody .TickerOptions {
  justify-content: space-between;
  width: 100%;
  height: 14vh;
}

.TickerOptions div {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  width: 47%;
  height: 100%;
  background: rgb(255, 255, 255);
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.075);
}

.TickerOptions div img {
  padding: 5px;
  background: pink;
  border-radius: 50%;
  width: 10vw;
}

.TickerOptions div label {
  font-size: 0.8em;
  color: #4c5968;
}

.TickerOptions div:first-child img {
  background: #18b9fa;
  background: linear-gradient(225deg, #18b9fa, #1d7ff3);
}

.TickerOptions div:nth-child(2) img {
  background: #fe5d84;
  background: linear-gradient(225deg, #fe5d84, #fc2f9d);
}

.BottomNavBar {
  width: 100vw;
  height: 10vh;
  background: rgb(255, 255, 255);
  position: absolute;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 12vw;
  padding-right: 12vw;
  bottom: 0;
  box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.075);
}

.BottomNavBar img {
  width: 7vw;
}

.PopOver {
  display: flex;
  padding: 30px;
  height: 100vh;
  width: 100vw;
  align-items: flex-start;
  justify-content: flex-end;
  background: rgba(0, 0, 0, 0.8);
  opacity: 0;
  left: 100%;
  position: absolute;
  top: 0;
  z-index: 2;
  transition: 0.3s ease;
}

.PopOver .popOverOptions {
  height: 30vh;
  width: 60vw;
  background: white;
  opacity: 1;
  border-radius: 15px;
  transition: 0.2s ease !important;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.popOverOptions div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 25%;
  width: 100%;
  border-bottom: 1px solid gray;
  transition: 0.25s ease;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.popOverOptions div:last-child {
  border-bottom: none;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.popOverOptions div:first-child {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.popOverOptions div:last-child label {
  color: #ee225d;
}

.popOverOptions div label {
  color: #434343;
  font-size: 0.8em;
  font-weight: 700;
}

.popOverOptions div:hover {
  background: rgb(135, 135, 135);
}

.PC_Main {
  flex-direction: column;
}

.PC_Main h1 {
  color: white;
}

.PC_Main img {
  width: 18vw;
  margin-bottom: 10vh;
  animation: myPhone 750ms ease infinite alternate-reverse;
}

@keyframes myPhone {
  from {
    rotate: 20deg;
  }
  to {
    rotate: -20deg;
  }
}

@media screen and (min-width: 700px) {
  .MainBody {
    overflow: hidden;
  }

  .HeaderBar {
    justify-content: space-between;
  }

  .HeaderBar img {
    display: none;
  }

  .HeaderBar .ThreeDot {
    display: block;
    width: 2vw;
  }

  .TickerInfo {
    width: 30vw !important;
    height: 35vh !important;
    padding-left: 5px;
    padding-right: 5px;
  }

  .TickerTop {
    top: 1vh !important;
    left: 2vw !important;
    position: none;
    width: 60%;
    padding: 0;
    padding-top: 5px;
  }

  .TickerTop div img {
    width: 3vw;
  }

  .TickerBottom {
    height: 10vh;
    max-height: 10vh;
    align-items: flex-start;
    flex-direction: column;
    position: absolute;
    top: 11vh !important;
    left: 2vw !important;
    width: 86% !important;
  }

  .collapseIMG {
    display: none;
  }

  .TickerTimeFrame {
    width: 48vw !important;
    margin-top: 38.5vh !important;
    justify-content: space-between !important;
  }

  .BottomNavBar {
    display: none;
  }

  .HiddentParts {
    margin-top: 20vh;
  }

  .MainBody {
    flex-direction: row;
  }

  .TickerOptions {
    position: absolute;
    left: 8vw !important;
    bottom: 15vw !important;
    width: 30% !important;
  }

  .TickerOptions div img {
    width: 4vw;
  }

  .TickerChart {
    margin-top: 2vh;
    height: 57vh !important;
    padding: 0;
  }

  .ChartData {
    height: 100%;
    width: 100%;
  }

  .TopData .Lower label,
  .TopData .Higher label {
    font-size: 1.5em;
  }

  .BottomData {
    margin-top: 30vh;
  }

  .BottomData label {
    font-size: 2.3em;
  }

  .popOverOptions {
    width: 25vw !important;
  }
}
